<div class="dog">
	<%= form_tag '/', method: :get do %>
		<% select_tag :name, options_for_select(@breeds, @breed.name) %>
	<% end %>

  <h1>It's a dog</h1>

  <h3><%= @breed.name.humanize %></h3>

  <%= image_tag @breed.pic_url %>

</div>
<script type="text/javascript">
	$(document).on('change', '#name', function(){
		$('form').submit();
	});
</script>